#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.actions {
margin-top: 16px;
display: grid;
gap: 8px;
}
ion-toolbar {
  box-shadow: 0 4px 16px rgba(247, 197, 204, 0.35);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
}
ion-toolbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  ion-title {
    font-size: 20px;
    font-weight: 650;
    letter-spacing: 1,5px;
    color: white;
  }
  ion-button {
    border-radius: 16px;
    box-shadow: 0 4px 16px rgba(247, 197, 204, 0.35);
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 14px;
    transition: transform 0.2s ease-out;
  }
  ion-button:active {
    transform: scale(0.95);
  }
  ion-card {
    border-radius: 20px;
    box-shadow: 4px 12px rgba($color: #FFF3E4, $alpha: 0.35);
    padding: 16px;
    
  }